.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .table:after {
  content: "";
  display: table;
  clear: both;
  border-left: 10px;
} */

/* .column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
  border: solid-1px;
} */
#green
{
  background-color: greenyellow;
}
#red
{
  background-color: red;
}
.column1
{
  height: 520px;
  width: 325px;
  background-color: greenyellow;
  margin-top:160px;
  margin-left: 180px;

}
.column2
{
  height: 520px;
  width:325px;
  background-color: red;
  margin-left: 1080px;
  margin-top: -520px;
}

.center
{
  margin-left: 630px;
  margin-top: -520px;
  background-color: blanchedalmond;
  width:325px;
  height: 520px;
}